import(tensorA,robustbase,rgl)
exportPattern("^[^g[][a-zA-Z0-9\\.]*")
exportPattern("^g[^s].*")
export("gsi")
export("gsi.getD")
export("gsi.pStore")
export("gsi.orSum")
export("gsi.merge2signary")
export(gsi.ilrBase2signary)
export(gsi.optimalilrBase)
export(gsi.buildilrBase)
export(gsi.signary2ilrBase)
export(gsi.OrderIlr)
S3Method("+",aplus)
S3Method("-",aplus)
S3Method("*",aplus)
S3Method("/",aplus)
S3Method(arrows3D,default)
S3Method(as.data.frame,acomp)
S3Method(as.data.frame,rcomp)
S3Method(as.data.frame,aplus)
S3Method(as.data.frame,rplus)
S3Method(as.data.frame,rmult)
S3Method(balance,acomp)
S3Method(balance,rcomp)
S3Method(balance,aplus)
S3Method(balance,rplus)
S3Method(balance01,acomp)
S3Method(balance01,rcomp)
S3Method(balanceBase,acomp)
S3Method(balanceBase,rcomp)
S3Method(balanceBase,acomp)
S3Method(balanceBase,rcomp)
S3Method(barplot,acomp)
S3Method(barplot,rcomp)
S3Method(barplot,aplus)
S3Method(barplot,rplus)
S3Method(bit,numeric)
S3Method(bit,character)
S3Method(bit,numeric)
S3Method(bit,character)
S3Method(maxBit,numeric)
S3Method(maxBit,character)
S3Method(biplot3D,default)
S3Method(biplot3D,princomp)
S3Method(boxplot,acomp)
S3Method(boxplot,rcomp)
S3Method(boxplot,aplus)
S3Method(boxplot,rplus)
S3Method(cdt,default)
S3Method(cdt,acomp)
S3Method(cdt,rcomp)
S3Method(cdt,aplus)
S3Method(cdt,rplus)
S3Method(cdt,rmult)
S3Method(cdt,factor)
S3Method(cdtInv,default)
S3Method(cdtInv,acomp)
S3Method(cdtInv,rcomp)
S3Method(cdtInv,aplus)
S3Method(cdtInv,rplus)
S3Method(cdtInv,rmult)
S3Method(ClusterFinder1,acomp)
S3Method(has.missings,default)
S3Method(has.missings,rmult)
S3Method(cor,default)
S3Method(cor,acomp)
S3Method(cor,rcomp)
S3Method(cor,aplus)
S3Method(cor,rplus)
S3Method(cor,rmult)
S3Method(dist,default)
S3Method(ellipses,acomp)
S3Method(ellipses,rcomp)
S3Method(ellipses,aplus)
S3Method(ellipses,rplus)
S3Method(ellipses,rmult)
S3Method(endmemberCoordinates,default)
S3Method(endmemberCoordinates,acomp)
S3Method(endmemberCoordinates,aplus)
S3Method(endmemberCoordinates,rplus)
S3Method(endmemberCoordinatesInv,rmult)
S3Method(endmemberCoordinatesInv,acomp)
S3Method(endmemberCoordinatesInv,rcomp)
S3Method(endmemberCoordinatesInv,aplus)
S3Method(endmemberCoordinatesInv,rplus)
S3Method(groupparts,acomp)
S3Method(groupparts,rcomp)
S3Method(groupparts,aplus)
S3Method(groupparts,rplus)
S3Method(gsi.margin,acomp)
S3Method(gsi.margin,rcomp)
S3Method(gsi.margin,aplus)
S3Method(gsi.margin,rplus)
S3Method(idt,default)
S3Method(idt,acomp)
S3Method(idt,rcomp)
S3Method(idt,aplus)
S3Method(idt,rplus)
S3Method(idt,rmult)
S3Method(idt,factor)
S3Method(idtInv,default)
S3Method(idtInv,acomp)
S3Method(idtInv,rcomp)
S3Method(idtInv,aplus)
S3Method(idtInv,rplus)
S3Method(idtInv,rmult)
S3Method(isoPortionLines,acomp)
S3Method(isoPortionLines,rcomp)
S3Method(isoProportionLines,acomp)
S3Method(isoProportionLines,rcomp)
S3Method(lines,acomp)
S3Method(lines,rcomp)
S3Method(lines,aplus)
S3Method(lines,rplus)
S3Method(lines,rmult)
S3Method(MahalanobisDist,rmult)
S3Method(MahalanobisDist,acomp)
S3Method("%*%",acomp)
S3Method("%*%",aplus)
S3Method("%*%",default)
S3Method(mean,acomp)
S3Method(mean,rcomp)
S3Method(mean,aplus)
S3Method(mean,rplus)
S3Method(mean,rmult)
S3Method(missingProjector,acomp)
S3Method(missingProjector,aplus)
S3Method(missingProjector,rcomp)
S3Method(missingProjector,rplus)
S3Method(mvar,default)
S3Method(mcov,default)
S3Method(mcor,default)
S3Method(msd,default)
S3Method(names,acomp)
S3Method(names,rcomp)
S3Method(names,aplus)
S3Method(names,rplus)
S3Method(names,rmult)
S3Method(names,acomp)
S3Method(names,rcomp)
S3Method(names,aplus)
S3Method(names,rplus)
S3Method(names,rmult)
S3Method(normalize,default)
S3Method(norm,default)
S3Method(norm,acomp)
S3Method(norm,rcomp)
S3Method(norm,aplus)
S3Method(norm,rplus)
S3Method(norm,rmult)
S3Method(OutlierClassifier1,acomp)
S3Method(outlierplot,acomp)
S3Method(pairwisePlot,default)
S3Method(plot3D,acomp)
S3Method(plot3D,rcomp)
S3Method(plot3D,aplus)
S3Method(plot3D,default)
S3Method(plot3D,rmult)
S3Method(plot3D,rplus)
S3Method(plot,missingSummary)
S3Method(plot,aplus)
S3Method(plot,rplus)
S3Method(plot,rmult)
S3Method(plot,acomp)
S3Method(plot,rcomp)
S3Method(princomp,acomp)
S3Method(print,princomp.acomp)
S3Method(plot,princomp.acomp)
S3Method(predict,princomp.acomp)
S3Method(princomp,aplus)
S3Method(print,princomp.aplus)
S3Method(plot,princomp.aplus)
S3Method(predict,princomp.aplus)
S3Method(princomp,rcomp)
S3Method(print,princomp.rcomp)
S3Method(plot,princomp.rcomp)
S3Method(predict,princomp.rcomp)
S3Method(princomp,rmult)
S3Method(princomp,rplus)
S3Method(print,princomp.rplus)
S3Method(plot,princomp.rplus)
S3Method(predict,princomp.rplus)
S3Method(print,acomp)
S3Method(print,aplus)
S3Method(print,rcomp)
S3Method(print,rplus)
S3Method(qqnorm,acomp)
S3Method(qqnorm,rcomp)
S3Method(qqnorm,aplus)
S3Method(qqnorm,rplus)
S3Method(relativeLoadings,princomp.acomp)
S3Method(relativeLoadings,princomp.aplus)
S3Method(relativeLoadings,princomp.rcomp)
S3Method(relativeLoadings,princomp.rplus)
S3Method(print,relativeLoadings.princomp.acomp)
S3Method(print,relativeLoadings.princomp.aplus)
S3Method(print,relativeLoadings.princomp.rcomp)
S3Method(print,relativeLoadings.princomp.rplus)
S3Method(plot,relativeLoadings.princomp.acomp)
S3Method(plot,relativeLoadings.princomp.aplus)
S3Method(plot,relativeLoadings.princomp.rcomp)
S3Method(plot,relativeLoadings.princomp.rplus)
S3Method("%*%",rmult)
S3Method(print,rmult)
S3Method(scalar,default)
S3Method(scale,default)
S3Method(scale,acomp)
S3Method(scale,rcomp)
S3Method(scale,aplus)
S3Method(scale,rplus)
S3Method(scale,rmult)
S3Method(segments,acomp)
S3Method(segments,rcomp)
S3Method(segments,aplus)
S3Method(segments,rplus)
S3Method(segments,rmult)
S3Method(split,acomp)
S3Method(split,rcomp)
S3Method(split,aplus)
S3Method(split,rplus)
S3Method(split,rmult)
S3Method(straight,acomp)
S3Method(straight,rcomp)
S3Method(straight,aplus)
S3Method(straight,rplus)
S3Method(straight,rmult)
S3Method(summary,acomp)
S3Method(summary,aplus)
S3Method(summary,rplus)
S3Method(summary,rmult)
S3Method(summary,rcomp)
S3Method(sumMissingProjector,acomp)
S3Method(sumMissingProjector,aplus)
S3Method(sumMissingProjector,rcomp)
S3Method(sumMissingProjector,rplus)
S3Method(sumMissingProjector,rmult)
S3Method(totals,acomp)
S3Method(totals,rcomp)
S3Method(totals,aplus)
S3Method(totals,rplus)
S3Method(var,default)
S3Method(var,acomp)
S3Method(var,rcomp)
S3Method(var,aplus)
S3Method(var,rplus)
S3Method(var,rmult)
S3Method(cov,default)
S3Method(cov,acomp)
S3Method(cov,rcomp)
S3Method(cov,aplus)
S3Method(cov,rplus)
S3Method(cov,rmult)
S3Method(variation,acomp)
S3Method(variation,rcomp)
S3Method(variation,aplus)
S3Method(variation,rplus)
S3Method(variation,rmult)
